<%- include('../partials/_head') %>

  <main>
    <h1>Article Details</h1>
  
    <h4><strong>Title</strong>: <%= article.title %></h4>

    <small>
      by
      <a href="/authors/<%= article.author._id %>">
        <%= article.author.name %>
      </a>
    </small>

    <p><%= article.body %> </p>
    <section>
      <form action="/articles/<%= article._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Article</button>
      </form>
      <a href="/articles/<%= article._id %>/edit">
        <button>Edit Article</button>
      </a>
    </section>
  </main>

<%- include('../partials/_footer') %>
