<%- include('../partials/_head') %>

  <main>

    <h1>Author Details</h1>

    <section>
      <h4><%= author.name %></h4>
      <p><strong>Created</strong>: <%= new Date(author.createdAt).toLocaleDateString() %></p>
    </section>

    <section>
      <form action="/authors/<%= author._id %>?_method=DELETE&myparam=myvalue&a=b" method="POST">
        <button type="submit">Delete Author</button>
      </form>

      <a href="/authors/<%= author._id %>/edit">
        <button>Edit Author</button>
      </a>
    </section>

  </main>

<%- include('../partials/_footer') %>
